<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:og="http://opengraphprotocol.org/schema/">
<html lang="en">
<html>
<head>

    <!-- Favicon -->
    <link rel="icon" href="@Url.Content("~/Contents/images/favicon.ico")" type="image/x-icon">

    <!-- Stylesheets -->
    <link href="@Url.Content("~/Contents/css/fonts.css")" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@Url.Content("~/Contents/css/bibliophile.css")">
    <link rel="stylesheet" href="@Url.Content("~/Contents/css/tagcloud.css")">
    <link rel="stylesheet" href="@Url.Content("~/Contents/css/style.css")">
    <link rel="stylesheet" media="print" title="pageturner" href="@Url.Content("~/Contents/css/printable.css")" />





    <!-- BUNLARA BAK -->

    <!--<link rel="apple-touch-icon" href="/site/images/mobile/apple-touch-icon.png" />
	<link rel="apple-touch-icon" href="/site/images/mobile/touch-icon-ipad.png" 		 sizes="72x72" />
	<link rel="apple-touch-icon" href="/site/images/mobile/apple-touch-icon-72x72.png" 	 sizes="72x72" />
	<link rel="apple-touch-icon" href="/site/images/mobile/touch-icon-iphone4.png" 		 sizes="114x114" />
	<link rel="apple-touch-icon" href="/site/images/mobile/apple-touch-icon-114x114.png" sizes="114x114" />
	<link rel="apple-touch-icon" href="/site/images/mobile/apple-touch-icon-144x144.png" sizes="144x144">
	<link rel="apple-touch-icon-precomposed" href="/site/images/mobile/apple-touch-icon-precomposed.png"> -->


    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/site/images/mobile/apple-touch-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#e5e1ba">
    <!-- and now for android --->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="/site/images/mobile/apple-touch-icon.png">

    <!-- JavaScript -->
    <!--[if lt IE 9]><script src="/site/js/ie9.js">IE7_PNG_SUFFIX=".png";</script><![endif]-->
    <script src="@Url.Content("~/Contents/js/jquerymin.js")"></script>
    <script src="@Url.Content("~/Contents/js/bxslider.js")"></script>
    <script src="@Url.Content("~/Contents/js/custom.js")"></script>
    <script src="@Url.Content("~/Contents/js/hashchange.js")"></script>
    <script src="@Url.Content("~/Contents/js/easytabs.js")"></script>
    <script src="@Url.Content("~/Contents/js/swfobject.js")"></script>


    <title>@ViewBag.Title</title>
</head>
<body>

    <!-- header -->
    <header class="header">
        <div class="wrapper">

            <a href="~/Home/Index" class="logo">
                <img src="@Url.Content("~/Contents/images/bblogo.gif")" alt="BookBrowse Logo" /></a>
            <ul><!-- Buraya Sessisonla İsim mi Yazdırsak? -->
                <li><a href="~/Log/In" title="Join">Üye Ol</a></li>
                <li><a href="https://www.bookbrowse.com/gift_certificate/" title="Member Login">Gift</a></li>
                <li><a href="https://www.bookbrowse.com/login/" title="Member Login">Member Login</a></li>
                <li><a href="http://www.bookbrowse.com/library" title="Library Member Login">Library Login</a></li>
            </ul>


        </div>
    </header>
    <!-- /header -->
    <!-- main menu -->



    <nav class="main_menu main_menu_head">
        <div class="wrapper">
            <div class="menu_trigger"></div>
            <ul>
                <li><a href="http://www.bookbrowse.com">Home</a></li>
                <li class="ezine"><a href="http://www.bookbrowse.com/mag/"><i>The Review</i></a></li>
                <li class="submenu">
                    <a href="http://www.bookbrowse.com/current_books/">What's New</a>
                    <ul>
                        <li><a href="http://www.bookbrowse.com/arc/arc_reviews/">Members Recommend</a></li>
                        <li><a href="http://www.bookbrowse.com/coming_soon/">Publishing Soon</a></li>
                        <li><a href="http://www.bookbrowse.com/browse/index.cfm/category_number/56/new-in-hardcover/">Featured This Week</a></li>
                        <li><a href="http://www.bookbrowse.com/browse/index.cfm/category_number/60/recommended-hardcovers/">New in Hardcover</a></li>
                        <li><a href="http://www.bookbrowse.com/browse/index.cfm/category_number/61/recommended-paperbacks/">New in Paperback</a></li>
                        <li><a href="http://www.bookbrowse.com/news/">Book News</a></li>

                    </ul>
                </li>
                <li class="submenu">
                    <a href="http://www.bookbrowse.com/category/">Find Books</a>
                    <ul>

                        <li><a href="http://www.bookbrowse.com/category/index.cfm/tc/1">Fiction</a></li>
                        <li><a href="http://www.bookbrowse.com/category/index.cfm/tc/2">Non-Fiction</a></li>
                        <li><a href="http://www.bookbrowse.com/category/index.cfm/tc/3">Young Adults</a></li>
                        <li><a href="http://www.bookbrowse.com/category/index.cfm//tc/tags">Books by Theme</a></li>

                        <li><a href="http://www.bookbrowse.com/category/index.cfm/tc/favorites">Favorites</a></li>
                        <li><a href="http://www.bookbrowse.com/category/index.cfm/tc/awards">Award Winners</a></li>
                        <li><a href="http://www.bookbrowse.com/jumper">Surprise Me!</a></li>

                    </ul>
                </li>
                <li class="submenu">
                    <a href="http://www.bookbrowse.com/authors/">Authors</a>
                    <ul>
                        <li><a href="http://www.bookbrowse.com/authors/allauthors/">Biographies</a></li>
                        <li><a href="http://www.bookbrowse.com/author_interviews/">Interviews</a></li>

                        <li><a href="http://www.bookbrowse.com/authors/author_pronunciations/">Pronunciation Guide</a></li>

                    </ul>
                </li>
                <li><a href="http://www.bookbrowse.com/read-alikes/">Read-Alikes</a></li>



                <li class="submenu">
                    <a href="http://www.bookbrowse.com/bookclubs">Book Clubs</a>
                    <ul>
                        <li><a href="http://www.bookbrowse.com/bookclubs">Advice & Reading Guides</a></li>
                        <br />
                        <li><a href="http://www.bookbrowse.com/booktalk/">Discuss Books</a></li>

                    </ul>
                </li>


                <li><a href="http://www.bookbrowse.com/blogs/editor/">Blog</a></li>
                <li><a href="http://www.bookbrowse.com/fun/">Free & Fun</a></li>

                </li>
            <li><a href="http://www.bookbrowse.com/about/">About</a></li>

            </ul>
        </div>
    </nav>

    <!-- /main menu -->
    <div class="search_wrap">
        <div class="wrapper">
            <!-- search_block -->
            <div class="search_block">
                <form action="/search/index.cfm" method="post" id="search">
                    <p>
                        <span>Search:</span>
                       <input type="checkbox" id="title" name="s_title" class="g" checked="checked" value="1" /><label for="title">Kitap</label>
                       
                        <input type="checkbox" id="author" name="s_author" class="g" checked="checked" value="1" /><label for="author">Yazar</label>
                        
                        <input type="text" name="search_string" value="Kitap veya Yazar Adı" />
                        <input type="submit" value="Bul!" />
                    </p>
                </form>
            </div>
            <!-- /search_block -->
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $('input.g[name!="s_isbn"]').click(function (e) {
                $('input.g[name="s_isbn"]').prop('checked', false);
            });
            $('input.g[name="s_isbn"]').click(function (e) {
                $('input.g[name!="s_isbn"]').prop('checked', false);
            });
        });
    </script>


    <!-- container -->
    @RenderBody()

    <!-- footer menu -->

    <nav class="main_menu">
        <div class="wrapper">
            <ul>
                <li><a href="http://www.bookbrowse.com/information/index.cfm/fuseaction/editorial_submissions">Book Submissions</a></li>
                <li><a href="http://www.bookbrowse.com/information/index.cfm/fuseaction/advertisers">Advertising</a></li>
                <li><a href="http://www.bookbrowse.com/lib">Library Subscriptions</a></li>
                <li><a href="http://www.bookbrowse.com/reviewers/index.cfm/fuseaction/apply">Reviewing for BookBrowse</a></li>
                <li><a href="http://www.bookbrowse.com/contactus/">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    <!-- /footer menu -->

    <!-- footer -->
    <footer class="footer">
        <div class="wrapper">
            <ul>
                <li>
                    <ul>
                        <li><a href="http://www.bookbrowse.com">Home</a></li>
                        <li><a href="http://www.bookbrowse.com/mag/">Magazine</a></li>
                        <li>
                            <a href="http://www.bookbrowse.com/current_books/">What's New</a>
                            <ul>
                                <li><a href="http://www.bookbrowse.com/arc/arc_reviews/">Members Recommend</a></li>
                                <li><a href="http://www.bookbrowse.com/coming_soon/">Publishing Soon</a></li>
                                <li><a href="http://www.bookbrowse.com/browse/index.cfm/category_number/56/new-in-hardcover/">Featured This Week</a></li>
                                <li><a href="http://www.bookbrowse.com/browse/index.cfm/category_number/60/recommended-hardcovers/">New in Hardcover</a></li>
                                <li><a href="http://www.bookbrowse.com/browse/index.cfm/category_number/61/recommended-paperbacks/">New in Paperback</a></li>
                                <li><a href="http://www.bookbrowse.com/news/">Book News</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>


                    <ul>
                        <li><a href="http://www.bookbrowse.com/read-alikes/">Read-Alikes</a></li>
                        <li>
                            <a href="http://www.bookbrowse.com/category/">Find a Book</a>
                            <ul>
                                <li><a href="http://www.bookbrowse.com/category/index.cfm/tc/1" title="Fiction">Fiction</a></li>
                                <li><a href="http://www.bookbrowse.com/category/index.cfm/tc/2" title="Non-Fiction">Non-Fiction</a></li>
                                <li><a href="http://www.bookbrowse.com/category/index.cfm/tc/3" title="Young Adults">Young Adults</a></li>
                                <li><a href="http://www.bookbrowse.com/category/index.cfm//tc/tags" title="Tag Cloud">Books by Theme</a></li>

                                <li><a href="http://www.bookbrowse.com/category/index.cfm/tc/favorites" title="Favorites">Favorites</a></li>
                                <li><a href="http://www.bookbrowse.com/category/index.cfm/tc/awards" title="Award Winners">Award Winners</a></li>
                                <li><a href="http://www.bookbrowse.com/jumper" title="Surprise Me!">Surprise Me!</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <a href="http://www.bookbrowse.com/authors/">Authors</a>
                            <ul>
                                <li><a href="http://www.bookbrowse.com/author_interviews/">Interviews</a></li>
                                <li><a href="http://www.bookbrowse.com/authors/allauthors/">Biographies</a></li>
                                <li><a href="http://www.bookbrowse.com/authors/author_pronunciations/">Pronunciation Guide</a></li>
                                <li><a href="http://www.bookbrowse.com/author_websites/">Author Websites</a></li>
                            </ul>
                        </li>



                        <li>
                            <a href="http://www.bookbrowse.com/bookclubs">Book Clubs</a>
                            <ul>
                                <li><a href="http://www.bookbrowse.com/booktalk/">Discuss Book</a></li>
                                <li><a href="http://www.bookbrowse.com/featured-bookclubs/archives/">Book Club Q&As</a></li>
                                <li><a href="http://www.bookbrowse.com/reading_guides/genre/">Reading Guides</a></li>
                                <li><a href="http://www.bookbrowse.com/bookclubs/advice">Advice</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>



                    <ul>
                        <li><a href="http://www.bookbrowse.com/blogs/editor/">Blog</a></li>
                        <li>
                            <a href="http://www.bookbrowse.com/fun/">Free and Fun</a>
                            <ul>
                                <li><a href="http://www.bookbrowse.com/arc/">First Impressions</a></li>
                                <li><a href="http://www.bookbrowse.com/wordplay/">Wordplay</a></li>
                                <li><a href="http://www.bookbrowse.com/giveaway/">Book Giveaway</a></li>
                                <li><a href="http://www.bookbrowse.com/bb_poll/">Polls</a></li>
                                <li><a href="http://www.bookbrowse.com/quotes">Literary Quotes</a></li>
                                <li><a href="http://www.bookbrowse.com/quiz">Personality Quiz</a></li>
                                <li><a href="http://www.bookbrowse.com/apps">BookBrowse Apps</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a href="http://www.bookbrowse.com/about">About</a>
                            <ul>
                                <li><a href="http://www.bookbrowse.com/information/index.cfm/fuseaction/about">About Us</a></li>
                                <li><a href="http://www.bookbrowse.com/contactus">Contact Us</a></li>

                                <li><a href="http://www.bookbrowse.com/join/">Become a Member</a></li>

                                <li><a href="http://www.bookbrowse.com/gift_certificate/">Gift Memberships</a></li>
                                <li><a href="http://www.bookbrowse.com/information/index.cfm/fuseaction/faqs/">FAQs</a></li>
                                <li><a href="http://www.bookbrowse.com/reviewers/">Meet Us</a></li>
                                <li><a href="http://www.bookbrowse.com/information/index.cfm/fuseaction/people_say/">People Say</a></li>

                                <li><a href="http://www.bookbrowse.com/contactus/">Contact Us</a></li>
                            </ul>
                            <li><a href="http://www.bookbrowse.com/information/index.cfm/fuseaction/privacy">Privacy Statement</a></li>
                            <li><a href="javascript:OpenWindow('http://www.bookbrowse.com/more_info/index.cfm/fuseaction/terms','Terms',450,500)">Terms of Service</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </footer>
    <!-- /footer -->

    <!-- footer copy -->
    <footer class="footer_copy">
        <div class="wrapper">
            <p>
                &copy; BookBrowse LLC 1997-2014. All rights reserved. Information at BookBrowse.com is published with the permission of the copyright holder or their agent.<br />
                It is forbidden to copy anything for publication elsewhere without written permission from the copyright holder.
            </p>
        </div>
    </footer>
    <!-- /footer copy -->
    <!-- Start Quantcast tag -->

    <!-- End Quantcast tag -->


    <!-- old Google Analytics tag 
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3368487-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
 End old Google Analytics tag -->

    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-3368487-1', 'bookbrowse.com');
        ga('send', 'pageview');

    </script>
    <!-- End Google Analytics -->


</body>



</html>


<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        // init the FB JS SDK
        FB.init({
            appId: '176762499038251', status: true, cookie: true,
            xfbml: true
        });
    };

    // Load the SDK's source Asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>




<script>
    function OpenTellAFriend(a) {
        var maxheight = 400;
        maxheight = screen.height;
        if (maxheight > 660) {
            maxheight = 660;
        } else {
            maxheight = maxheight - 100;
        }
        OpenWindow('/tell_a_friend/index.cfm?url=' + a, 'tellafriend', '600', maxheight);
    }
</script>

<script src="/js/openwindow.js"></script>
